.link{
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 40px;
    margin-top: 30px;
    border: 1px solid black;
    background-color: antiquewhite;
    width: 140px;
    padding: 20px;
    margin-left: 45%;
    display: flex;
    margin-bottom:25%;
}   

.card{
    padding: 10px;
    border: 1px solid red;
    width: 30%;
    cursor: pointer;
    text-align: center;
    h2{
        margin-bottom: 10px;
    }
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
}
.loader{
    text-align: center;
}
